/* general settings */
body {
	background-color: #222;
	color: #ddd;
	font-family: 'Coda', Calibri;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #398AC4;
}

button {
	width: 270px;
	height: 40px;
	background-color: #666;
	color: #ddd;
	border: 0;
	font-size: 15px;
	margin-bottom: 10px;
	cursor: pointer; 
}

button:hover {
	background-color: #888;
}


/* disables button's outline on Chrome */
*:focus {
	outline: none;
}


/* the whole app box */
#mainBox {
	text-align: center;
}


/* options and map columns */
#columns {
	position: relative;
	width: 1300px;
	height: 600px;
	margin: 0 auto;
}

#optionsColumn {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #393939;
	width: 290px;
	height: 600px;
}

#mapColumn {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 1000px;
}


/* map */
#canvas {
	background-color: #eee;
	cursor: crosshair;
}


/* header texts */
#headerBox {
	background-color: #555;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px dashed #ddd;
}

#mainTitle {
	font-size: 30px;
}

#subTitle {
	margin-top: -8px;
	font-size: 13px;
	letter-spacing: 2.6px;
}


/* draw/remove selector */
#drawingSelectionDiv {
	position: relative;
	width: 270px;
	height: 40px;
	background-color: #555;
	color: #ddd;
	margin-left: 10px;
	margin-bottom: 10px;
}

.drawingOptionDiv {
	width: 135px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	position: absolute;
	top: 0px;
}

.drawingOptionDiv:hover {
	background-color: #888;
}

.drawingOptionDiv:nth-of-type(1) {
	left: 0px;
}
.drawingOptionDiv:nth-of-type(2) {
	left: 135px;
}


/* custom checkboxes */
.checkBoxLabel {
	display: inline-block;
	width: 220px;
	height: 40px;
	background-color: #4a4a4a;
	color: #ddd;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.optionCheckbox {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #666;
	color: #ddd;
	line-height: 40px;
	margin-bottom: 10px;
	cursor: pointer;
}

.optionCheckbox:hover {
	background-color: #888;
}


/* visualisation speed selector */
#speedSelectionDiv {
	display: none;
	position: relative;
	width: 270px;
	height: 40px;
	background-color: #555;
	color: #ddd;
	margin-left: 10px;
}

.speedOptionDiv {
	width: 90px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	position: absolute;
	top: 0px;
}

.speedOptionDiv:hover {
	background-color: #888;
}

.speedOptionDiv:nth-of-type(1) {
	left: 0px;
}
.speedOptionDiv:nth-of-type(2) {
	left: 90px;
}
.speedOptionDiv:nth-of-type(3) {
	left: 180px;
}


/* button that starts the algorithm */
#findButton {
	position: absolute;
	left: 10px;
	bottom: 42px;
}


/* class for selected options (draw/remove and visualisation speed) */
.activeOption {
	background-color: #888;
}


/* class for disabled buttons */
.disabledButton, .disabledButton:hover {
	background-color: #4a4a4a;
	color: #777;
	cursor: default;
}


/* box for app messages */
#infoDiv {
	position: absolute;
	bottom: 0px;
	width: 290px;
	height: 40px;
	background-color: #555;
	line-height: 40px;
	border-top: 2px dashed #ddd;
}


/* my small signature */
#authorBox {
	text-align: right;
	width: 1300px;
	margin: 0 auto;
	font-size: 13px;
}